$breakpoints: (
	'xl': 1920px,
	'lg': 1280px,
	'md': 768px,
	'sm': 480px,
	'xs': 460px,
);

$black: #000000;
$white: #FFFFFF;

$base-font: 'Raleway';

$secondary-font: 'Cormorant';

$base-transition: all 0.3s ease;
